---
layout: default
title:  "Практика стяжания Омеги"
permalink: /practices/omega/
---

<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container"><h1>Программа Омеги</h1></div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            <p>Друзья! Перед вами инструмент, который поможет вам в стяжании программы Омеги.</p>
            <p>Стяжание потенциала 512 рицы Человека Мг идет по присутствиям 8 Изначальностей (и только после стяжания Абсолюта Фа переходим в 9 И).<p>
            <p>Концентрируйтесь на внутреннем проживании.</p>
            <p>Для фиксации перехода по присутствиям - нажимайте кнопку "стяжать", при завершении практики - кнопку "выход".</p>
            <p>Данный инструмент предназначен, прежде всего, для начинающих Восхождение Синтезом ИВО.</p>

            {% for primordiality in site.data.primordiality %}
            <h3>{{primordiality.title}} {% if 9 == primordiality.number %}<br>
                <small>после стяжания Абсолютного Огня</small>
                {% endif %}
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <a href="/practices/omega/{{primordiality.number}}.html">{{ primordiality.dimensions }}
                        присутсвий(я)</a> <span class="progress-{{primordiality.number}}"></span> <a
                        href="/practices/omega/{{primordiality.number}}.html#practice/start">Стяжать</a><br>
                    <a href="/practices/omega/{{primordiality.number}}-higher.html">{{ primordiality.dimensions |
                        divided_by: 2 }} вышестоящих присутсвий(я)</a> <span
                        class="progress-{{primordiality.number}}-higher"></span> <a
                        href="/practices/omega/{{primordiality.number}}-higher.html#practice/reset">Стяжать</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(function () {
        for (var i = 1; i <= 9; i++) {
            var total = Math.pow(2, 4 + i);
            var p = parseInt(window.localStorage.getItem('presence-' + i));
            var ph = window.localStorage.getItem('presence-' + i + '-higher');

            if (p) {
                $('.progress-' + i).html(total !== p ? p + ' из ' + total : '<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>');
            }

            if (ph >= 7) {
                $('.progress-' + i + '-higher').html('<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>');
            }

        }
    });
</script>


