<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 class="page-header">Практика стяжания Омеги</h1>
                <h2>{{primordiality.title}}</h2>

                <h3 id="higher-presences">Высшые Присутствия</h3>

                <ol class="do-list">
                    <li id="higher-entry-1">
                        Возжигаемся формой <em>{{ site.data.settings.form.genitivus }}</em>, Синтезом и Огнем ИВ Аватаров Синтеза Кут Хуми Фаинь, Ядрами Синтеза, Частями Человека, Посвящениями.
                    </li>
                    <li id="higher-entry-2">
                        Синтезируемся с Аватаром Синтеза Кут Хуми и переходим в зал Аватара Синтеза КХ на 3840 вышестоящее присутствие Метагалактики ФА 8 Изначальности и встаем перед Аватаром Синтеза КХ.  Стяжаем Синтез Синтеза Омежного потенциального развития Человека Метагалактики Изначально Вышестоящего Отца каждым из нас и синтезом нас физически собою.
                    </li>
                    <li id="higher-entry-3">
                        Синтезируемся с ИВО <em>{{ primordiality.genitivus }}</em> и развертываемся на <em>{{ primordiality.dimensions }}-м</em> вышестоящем прис-вии в зале ИВО и синтезуруемся с Хум ИВО. И стяжаем Синтез  Потенциала ФА-1024-рицы ИВО <em>{{ primordiality.dimensions | divided_by: 2 }}-и</em> вышестоящих присутствий <em>{{ primordiality.genitivus }}</em> в синтезе <em>{{ primordiality.dimensions | divided_by: 2 }}-и</em> ФА-1024-риц.
                    </li>
                    <li id="higher-entry-4">
                        Стяжаем <em>{{ primordiality.dimensions | divided_by: 2 }}-е</em> ФА-1024-рицы ИВО <em>{{ primordiality.dimensions | divided_by: 2 }}-и</em> вышестоящих присутствий <em>{{ primordiality.genitivus }}</em>.
                    </li>
                    <li id="higher-entry-5">
                        Стяжаем у Отца Синтез ИВО.
                    </li>
                    <li id="higher-entry-6">
                        Благодарим ИВ Отца <em>{{ primordiality.genitivus }}</em>, АС КХФ и возвращаемся в физическое присутствие,  возжигаем  и разворачиваем все стяженное и эманируем в ИВДИВО, в <em>{{ site.data.settings.location }}</em> и ИВДИВО каждого.<br>
                        <em class="remark">*(такой выход  делаем каждый раз по итогам ежедневной практики)</em>
                    </li>
                    <li>
                        Стяжаем у ИВО ФА-1024-рицу <em>{{ primordiality.genitivus }}</em> ИВО Человека Мг.
                    </li>
                    {% if primordiality.genitivus %}
                    <li>
                        Просим ИВО синтезировать 1024-рицы <em>{{ prev_primordiality.genitivus }}</em> и <em>{{ primordiality.genitivus }}</em>.
                    </li>
                    {% endif %}
                </ol>
            </div>

        </div>
        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top">
                <ul class="nav bs-docs-sidenav">
                    <li><a href="#higher-presences">Высшие Присутствия</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
