<div class="container bs-docs-container practice-container" data-primordiality="{{ primordiality.number }}-higher" data-max="{{ primordiality.dimensions }}">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 class="page-header">Практика стяжания Омеги</h1>
                <h2 class="practice-title">{{primordiality.title}}</h2>

                <h3 class="practice-section-title entry" id="higher-presences">Высшые Присутствия</h3>

                <div class="step" id="step-1">
                    1. Возжигаемся формой <em>{{ site.data.settings.form.genitivus }}</em>, Синтезом и Огнем ИВ Аватаров Синтеза Кут Хуми Фаинь, Ядрами Синтеза, Частями Человека, Посвящениями.
                </div>
                <div class="step" id="step-2">
                    2. Синтезируемся с Аватаром Синтеза Кут Хуми и переходим в зал Аватара Синтеза КХ на 3840 вышестоящее присутствие Метагалактики ФА 8 Изначальности и встаем перед Аватаром Синтеза КХ.  Стяжаем Синтез Синтеза Омежного потенциального развития Человека Метагалактики Изначально Вышестоящего Отца каждым из нас и синтезом нас физически собою.
                </div>
                <div class="step" id="step-3">
                    3. Синтезируемся с ИВО <em>{{ primordiality.genitivus }}</em> и развертываемся на <em>{{ primordiality.dimensions }}-м</em> вышестоящем прис-вии в зале ИВО и синтезуруемся с Хум ИВО. И стяжаем Синтез  Потенциала ФА-512-рицы ИВО <em>{{ primordiality.dimensions | divided_by: 2 }}</em> вышестоящих присутствий <em>{{ primordiality.genitivus }}</em> в синтезе <em>{{ primordiality.dimensions | divided_by: 2 }}</em> ФА-512-риц.
                </div>
                <div class="step" id="step-4">
                    4. Стяжаем <em>{{ primordiality.dimensions | divided_by: 2 }}</em> ФА-512-риц(ы) ИВО <em>{{ primordiality.dimensions | divided_by: 2 }}</em> вышестоящих присутствий <em>{{ primordiality.genitivus }}</em>.
                </div>
                <div class="step" id="step-5">
                    5. Стяжаем у Отца Синтез ИВО.
                </div>
                <div class="step" id="step-6">
                    6. Благодарим ИВ Отца <em>{{ primordiality.genitivus }}</em>, АС КХФ и возвращаемся в физическое присутствие,  возжигаем  и разворачиваем все стяженное и эманируем в ИВДИВО, в <em>{{ site.data.settings.location }}</em> и ИВДИВО каждого.<br>
                    <em class="remark">*(такой выход  делаем каждый раз по итогам ежедневной практики)</em>
                </div>
                <div class="step" id="step-7">
                    7. Стяжаем у ИВО ФА-512-рицу <em>{{ primordiality.genitivus }}</em> ИВО Человека Мг.
                </div>
                {% if prev_primordiality %}
                <div class="step" id="step-8">
                    8. Просим ИВО синтезировать 512-рицы <em>{{ prev_primordiality.genitivus }}</em> и <em>{{ primordiality.genitivus }}</em>.
                </div>
                {% endif %}

                <div class="step-navigation">
                    <table width="100%">
                        <tr>
                            <td width="33%">
                                <a href="#practice/reset" class="btn btn-default exit">С начала</a>
                            </td>
                            <td width="33%" align="center">
                                <a href="#practice/exit" class="btn btn-default exit">Выход</a>
                            </td>
                            <td  width="33%" align="right">
                                <a href="" class="btn btn-default next">Далее >></a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
        <div class="col-md-3" role="complementary">
        </div>
    </div>
</div>

{% include omega/script.html %}
